apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


resources:
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_alertmanagers.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_podmonitors.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_probes.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_prometheuses.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_prometheusrules.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_servicemonitors.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_thanosrulers.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_prometheusagents.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_alertmanagerconfigs.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/prometheus-operator-crd/monitoring.rhobs_scrapeconfigs.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-deployment.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-cluster-role-binding.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-cluster-role.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-service-account.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-service.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/admission-webhook/deployment.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/admission-webhook/service-account.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/admission-webhook/service.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.89.0-rhobs1/example/admission-webhook/pod-disruption-budget.yaml
# NOTE: a service although automatically created by OLM for webhooks still
# requires admission-webhook/service as the port generated by OLM uses 443
# but assumes targetPort to be 443 as opposed to "https" port of webhook - 8443
- admission-webhook/cluster-role.yaml
- admission-webhook/cluster-role-binding.yaml
- admission-webhook/alertmanager-config-validating-webhook.yaml
- admission-webhook/prometheus-rule-validating-webhook.yaml

images:
- name: quay.io/rhobs/obo-prometheus-operator
  newTag: v0.89.0-rhobs1
- name: quay.io/rhobs/obo-prometheus-config-reloader
  newTag: v0.89.0-rhobs1
- name: quay.io/rhobs/obo-admission-webhook
  newTag: v0.89.0-rhobs1


namespace: operators
namePrefix: obo-


  # rely on tls-certificates injected by OLM instead of mounting empty files
    # HACK: remove the RuntimeDefault from ALL deploymens until we figure out
    # how to run the operator on all openshift version from 4.9-13. Currently the
    # webhook fails to deploy on 4.10
    # SEE: https://issues.redhat.com/browse/MON-3225 which should provide an actual fix
  # first apply TP annotation to all our CRDs
  # then add SSA annotation to selected CRDs
patches:
- path: patches/api-support-techpreview-annotation.yaml
  target:
    kind: CustomResourceDefinition
- path: patches/api-support-experimental-annotation.yaml
  target:
    kind: CustomResourceDefinition
    name: (prometheuses.monitoring.rhobs|alertmanagers.monitoring.rhobs)
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: prometheus-operator
    spec:
      selector:
        matchLabels:
          app.kubernetes.io/part-of: observability-operator
      template:
        metadata:
          annotations:
            target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
          labels:
            app.kubernetes.io/part-of: observability-operator
        spec:
          containers:
            - name: prometheus-operator
              image: quay.io/rhobs/obo-prometheus-operator
              args:
                - --prometheus-config-reloader=quay.io/rhobs/obo-prometheus-config-reloader:v0.89.0-rhobs1
                - --prometheus-instance-selector=app.kubernetes.io/managed-by=observability-operator
                - --alertmanager-instance-selector=app.kubernetes.io/managed-by=observability-operator
                - --thanos-ruler-instance-selector=app.kubernetes.io/managed-by=observability-operator
                - --watch-referenced-objects-in-all-namespaces=true
                - --disable-unmanaged-prometheus-configuration=true
              resources:
                requests:
                  cpu: 5m
                  memory: 150Mi
                limits:
                  cpu: 100m
                  memory: 500Mi
              terminationMessagePolicy: FallbackToLogsOnError
          securityContext:
            runAsNonRoot: true
- patch: |-
    - op: remove
      path: /spec/template/spec/nodeSelector
  target:
    group: apps
    kind: Deployment
    name: prometheus-operator
    version: v1
- patch: |-
    - op: add
      path: /rules/-
      value:
        apiGroups:
          - security.openshift.io
        resourceNames:
          - nonroot-v2
          - nonroot
        resources:
          - securitycontextconstraints
        verbs:
          - use
  target:
    group: rbac.authorization.k8s.io
    kind: ClusterRole
    name: prometheus-operator
    version: v1
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: prometheus-operator-admission-webhook
    spec:
      template:
        spec:
          containers:
          - name: prometheus-operator-admission-webhook
            args:
            - --web.enable-tls=true
            - --web.cert-file=/tmp/k8s-webhook-server/serving-certs/tls.crt
            - --web.key-file=/tmp/k8s-webhook-server/serving-certs/tls.key
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: prometheus-operator-admission-webhook
    spec:
      template:
        spec:
          volumes:
          - name: tls-certificates
            $patch: delete
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: prometheus-operator-admission-webhook
    spec:
      template:
        spec:
          containers:
          - name: prometheus-operator-admission-webhook
            volumeMounts:
            - name: tls-certificates
              $patch: delete
- patch: |-
    - op: remove
      path: /spec/template/spec/securityContext/seccompProfile
  target:
    group: apps
    kind: Deployment
    name: .*
    version: v1
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/part-of: observability-operator
