apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:

# PO Deployment
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.63.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-deployment.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.63.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-cluster-role-binding.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.63.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-cluster-role.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.63.0-rhobs1/example/rbac/prometheus-operator/prometheus-operator-service-account.yaml



# Admission Webhook Deployment
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.63.0-rhobs1/example/admission-webhook/deployment.yaml
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.63.0-rhobs1/example/admission-webhook/service-account.yaml
# NOTE: a service although automatically created by OLM for webhooks still
# requires admission-webhook/service as the port generated by OLM uses 443
# but assumes targetPort to be 443 as opposed to "https" port of webhook - 8443
- https://raw.githubusercontent.com/rhobs/obo-prometheus-operator/v0.63.0-rhobs1/example/admission-webhook/service.yaml

- admission-webhook/cluster-role.yaml
- admission-webhook/cluster-role-binding.yaml
- admission-webhook/alertmanager-config-validating-webhook.yaml
- admission-webhook/prometheus-rule-validating-webhook.yaml


namespace: operators
namePrefix: obo-
commonLabels:
  app.kubernetes.io/part-of: observability-operator

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: prometheus-operator
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/part-of: observability-operator
        template:
          metadata:
            annotations:
              target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
            labels:
              app.kubernetes.io/part-of: observability-operator
          spec:
            containers:
              - name: prometheus-operator
                image: quay.io/rhobs/obo-prometheus-operator:v0.63.0-rhobs1
                args:
                  - --prometheus-config-reloader=quay.io/rhobs/obo-prometheus-config-reloader:v0.63.0-rhobs1
                  - --prometheus-instance-selector=app.kubernetes.io/managed-by=observability-operator
                  - --alertmanager-instance-selector=app.kubernetes.io/managed-by=observability-operator
                  - --thanos-ruler-instance-selector=app.kubernetes.io/managed-by=observability-operator
                resources:
                  requests:
                    cpu: 5m
                    memory: 150Mi
                  limits:
                    cpu: 100m
                    memory: 500Mi
                terminationMessagePolicy: FallbackToLogsOnError
            securityContext:
              runAsNonRoot: true
  - patch: |-
      - op: remove
        path: /spec/template/spec/nodeSelector
    target:
      group: apps
      version: v1
      kind: Deployment
      name: prometheus-operator

  - patch: |-
      - op: add
        path: /rules/-
        value:
          apiGroups:
            - security.openshift.io
          resourceNames:
            - nonroot-v2
            - nonroot
          resources:
            - securitycontextconstraints
          verbs:
            - use
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRole
      name: prometheus-operator

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: prometheus-operator-admission-webhook
      spec:
        template:
          spec:
            containers:
            - name: prometheus-operator-admission-webhook
              args:
              - --web.enable-tls=true
              - --web.cert-file=/tmp/k8s-webhook-server/serving-certs/tls.crt
              - --web.key-file=/tmp/k8s-webhook-server/serving-certs/tls.key

  # rely on tls-certificates injected by OLM instead of mounting empty files
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: prometheus-operator-admission-webhook
      spec:
        template:
          spec:
            volumes:
            - name: tls-certificates
              $patch: delete

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: prometheus-operator-admission-webhook
      spec:
        template:
          spec:
            containers:
            - name: prometheus-operator-admission-webhook
              volumeMounts:
              - name: tls-certificates
                $patch: delete
