name: Pre-submit tests
on:
  pull_request:

jobs:
  commit-lint:
    if: (github.actor != 'dependabot[bot]') && ! startsWith(github.head_ref, 'dependabot/')
    name: Lint the commit messages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v6

  github-actions-yaml-lint:
    name: Lint Github Action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@v1

  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Use tools cache
        uses: ./.github/tools-cache

      - name: Run unit tests
        run: make test-unit

      - name: Lint Go code
        run: make lint-golang

      - name: Lint Shell scripts
        run: make lint-shell

      - name: Check for linter changes
        run: git diff --exit-code

  generate:
    name: Verify generated code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - run: make --always-make generate bundle && git diff --exit-code

  tool-versions:
    runs-on: ubuntu-latest
    name: Validate tools cache
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Install tools
        uses: ./.github/tools-cache

      - run: make --always-make tools && git diff --exit-code

  build-bundle-image:
    name: Build bundle image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go environment
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      - name: Install tools
        uses: ./.github/tools-cache

      - name: Build Bundle Image
        run: make bundle-image

  e2e-tests-olm:
    name: Run end-to-end tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: e2e tests through OLM
        uses: ./.github/e2e-tests-olm
